/* Nav BAR  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 45px;
  height: 35px;
  margin-right: 10px;
  border-radius: 15%;
}

.logo h1 {
  font-size: 25px;
  font-weight: bold;
  color: #824a1e;
  text-decoration: none;
}

nav {
  margin-left: 57%;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  text-decoration: none;
  color: goldenrod;
  font-size: 16px;
  transition: .5s;
}

.phone {
  font-weight: bold;
  color: #333;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
  }

  .menu-icon {
    display: block;
  }

  nav {
    display: none;
    width: 100%;
    margin-top: 20px;
  }

  nav.show {
    display: block;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

/* THE NAV ANIMATION */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.menu-icon.open .bar1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open .bar2 {
  opacity: 0;
}

.menu-icon.open .bar3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
}

/* Full-Screen Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay.show {
  display: flex;
  opacity: 1;
}

.overlay ul {
  list-style-type: none;
  text-align: center;
}

.overlay ul li {
  margin: 20px 0;
}

.overlay ul li a {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.overlay ul li a:hover {
  font-size: 24px;
  color: #8B4513;
  text-decoration: none;
  font-weight: bold;
}

.overlay ul li a.active {
  color: #8B4513;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .phone {
    color: rgb(73, 72, 72);
    margin-top: 10px;
    font-weight: lighter;
  }
}

.service_text {
  padding: 200px 500px 0px 500px;
  align-items: center;
  text-align: center;
  /* min-width: 800px; */
}

.service_text h1 {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(46, 44, 44);
}

h3 {
  line-height: 1.52rem;
  color: rgb(73, 72, 72);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 15.5px;
  /* margin-bottom: 70px; */
}

/* BODY */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px 40px;
  margin: 70px 100px 120px 100px;
  cursor: pointer;
  z-index: 1;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  width: 30%;
  flex: 1 1 30%;
  min-width: 300px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card img:hover {
  opacity: .8;
}

.card h2 {
  font-size: 1.4rem;
  margin: 20px 0 20px 0px;
}

.card p {
  font-size: 1rem;
  padding: 0 40px 30px 40px;
  color: rgb(148, 146, 146);
  line-height: 1.5rem;
}

@media (max-width: 1024px) {
  .container {
    justify-content: center;
  }

  .card {
    width: 45%;
    flex: 1 1 45%;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
.card p {
  padding: 0 25px 20px 25px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 30px;
  margin: 40px 10% 60px 10%;
  cursor: pointer;
  z-index: 1;
}
}

/* // LOWER BOTTOM */

.dream_div {
  background-color: rgb(32, 30, 30);
  width: 100%;
  align-items: center;
  text-align: center;
}

.dream_text {
  color: white;
  width: 100%;
  padding: 50px 50px 30px 50px;
  margin-bottom: 50px;
}

.button {
  padding: 15px 30px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 50px;
  color: rgb(133, 132, 132);
}

.button:hover {
  padding: 15px 30px;
  cursor: pointer;
  color: rgb(145, 114, 41);
  transition: 1s;
}


@media only screen and (max-width: 1400px) {
  .service_text {
    padding: 130px 80px 0px 80px;
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  animation: fadeIn .5s ease;
  z-index: 2000;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 60%;
}

.modal-image-container {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.modal-image {
  width: 100%;
  max-height: 80vh;
  padding-left: 20px;
  width: 590px;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
} 

.modal-text {
  flex: 40%;
  padding: 20px;
  font-size: 1rem;
  color: rgb(148, 146, 146);
  line-height: 1.5rem;
}

.modal-text h2{
  flex: 40%;
  padding: 20px;
  color: rgb(42, 42, 42);
  line-height: 1.5rem;
}

.modal-text  p{
  flex: 40%;
  padding: 20px;
  font-size: 1rem;
  color: rgb(148, 146, 146);
  line-height: 2rem;
}

.close,
.fullscreen-btn,
.prev,
.next {
  position: absolute;
  font-size: 22px;
  cursor: pointer;
  color: #333;
}

.close {
  top: 10px;
  right: 15px;
  font-size: 28px;
}

.fullscreen-btn {
  top: 10px;
  left: 15px;
}

@media (max-width: 768px) {
  .fullscreen-btn {
    display: none;
  }
}

.prev,
.next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

/* Fade-In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .service-grid {
    grid-template-columns: 1fr 1fr;
  }
.prev {
  left: 10px;
    padding: 8px;
}

.next {
  right: 10px;
    padding: 8px;
}

.modal-image {
  width: 100%;
  max-height: 80vh;
  padding-left: 10px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.modal-image-container {
  width: 100%;
  padding: 20px;
  padding-left: 10px;
  padding-top: 35px;
  text-align: center;
}
}

@media (max-width: 480px) {
  .service-grid {
    grid-template-columns: 1fr;
  }
}

/* Footer Styling */
footer {
  background-color: white;
  color: white;
  padding: 30px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-text {
  font-size: 14px;
  color: rgb(73, 72, 72);
}

.social-links {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

.social-links li {
  display: inline;
}

.social-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #8B4513;
}

@media (max-width: 768px) {
  .social-links {
    margin-bottom: 10px;
  }

  .footer-text {
    margin-top: 10px;
  }

  footer {
    padding: 20px 10px;
    flex-direction: column-reverse;
    text-align: center;
  }
}

footer img {
  width: 20px;
  border-radius: 20%;
  margin-left: 7px;
}

/* Footer Styling */